# Azure Storage
AZURE_STORAGE_ACCOUNT=nabmaksg
INDEXED_VIDEO_BASE_URL=https://nabmaksg.blob.core.windows.net/indexed-video

# Azure AI Search
AZURE_SEARCH_INDEX_NAME=nab-video-segments


# Azure Foundry Models
AZURE_OPENAI_ENDPOINT=https://makfoundrywestus.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large
