# Azure AI Search
AZURE_SEARCH_ENDPOINT=https://nabmakaisearch.search.windows.net
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=vichatindex


# Azure Foundry Models
AZURE_OPENAI_ENDPOINT=https://makfoundrywestus.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_EMBEDDING_DIMENSIONS=1536

# Azure Video Indexer
AZURE_VIDEO_INDEXER_API_BASE_URL=https://api.videoindexer.ai
AZURE_VIDEO_INDEXER_LOCATION=
AZURE_VIDEO_INDEXER_ACCOUNT_ID=
AZURE_VIDEO_INDEXER_SUBSCRIPTION_KEY=
AZURE_VIDEO_INDEXER_TIMEOUT_SECONDS=300
